<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Mcaps-Ams</h1>
      <a class="btn btn-primary btn-lg" href="/dashboard">Dashboard</a>
    </div>
  </div>
</div>